
.s-hero {
    padding-top: 16.8rem;
    padding-bottom: 11.9rem;
    background-image: url("../img/bg-dibl4.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    display: flex;
    .container {
      align-items: flex-start;
      display: flex;
      justify-content: space-between;
        .slider {
         display: flex;
         flex-direction: column;
         cursor: pointer;
         opacity: 0.4;
         gap: 2rem;
         position: relative;
         height: 32rem;
         left: 6.5%;
         top: 7.2rem;
         z-index: 2;
         }
         .left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            margin-left: 3.2rem;
            max-width: 56.2rem;
            h2 {
               margin-bottom: 1.6rem;
               margin-top: 2.9rem;
            }
            p {
               margin-bottom: 3.2rem;
            }
            .btn {
               padding: 0px 3.8rem;
               line-height: 5.2rem;
            }
            }
            .right {
               display: flex;
               flex-direction: column;
               align-items: flex-end;
               
               .logo {
                  width: 100%;
                  max-width: 28rem;
                  height: 18rem;
                  margin-bottom: 8.6rem;
               }
               .video {
                 width: 100%;
                 max-width: 28rem;
                 display: flex;
                 flex-direction: column;
                 align-items: flex-end;
                 p {
                  text-align: center;
                  font-weight: 600;
                  font-size: 1.3rem;
                  line-height: 1.9rem;
                  text-transform: uppercase;
                  margin-bottom: 1.6rem;
                 }
                  .trailer {
                    
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    width: 28rem;
                    height: 15.8rem;
                    bottom: 10.3rem;
                     .thumb {
                        margin: 0 auto;
                        position: relative;
                        height: 100%;
                        max-width: 28rem;
                        max-height: 15.8rem;
                        border-radius: .5rem;
                      }
                     .default {
                        opacity: 1;
                        transition: opacity 0.3s ease-in-out;
                        position: absolute;
                     }
                     .default:hover {
                        opacity: 0;
                     }
                     .animated {
                        opacity: 0;
                        transition: opacity 0.3s ease-in-out;
                        position: absolute;
                     }
                     .animated:hover {
                        opacity: 1;
                     }

                     .icon {
                        width: 100%;
                        height: 100%;
                        border-radius: .4rem;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .play {
                           position: absolute;
                           backdrop-filter: blur(1.5px);
                           border-radius: 50%;
                           display: flex;
                           align-items: center;
                           justify-content: center;
                           background: linear-gradient(136.72deg, rgba(7, 7, 10, 0.86) 19.22%, rgba(15, 16, 22, 0.5) 76.59%);
                           img {
                              width: 1.5rem;
                              height: 19.9rem;
                           }
                        }
                     }
                  }
               }
            }
         }
      
}

.s-games{
      padding-top: 7.3rem;
      margin-bottom: 11rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .top {
         display: flex;
         align-items: flex-end;
         justify-content: space-between;
         margin-bottom: 8.8rem;
         .left-top {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            max-width: 39.9rem;
            p {
               font-weight: 600;
               font-size: 1.5rem;
               line-height: 2.2rem;
               color: #8F9199;
               display: block;
               margin-top: 1.1rem;
            }
            h2 {
               font-weight: 700;
               font-size: 3.2rem;
               line-height: 110.2%;
               color: #FFFFFF;
               width: 100%;
               max-width: 17.5rem;
            }
         }
         .right-top {
            width: 100%;
            max-width: 58.3rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            ul {
               display: flex;
               align-items: center;
               li:not(:first-child) {
                  margin-left: 2.4rem;
               }
            }
            .btn-all-games {
               display: flex;
               align-items: center;
               font-weight: 600;
               font-size: 1.6rem;
               line-height: 2.4rem;
               color: #00AEFF;
               
               img {
                  margin-right: 1rem;
               }
            }
         }
      }
      .tab-cards-games {
         display: grid;
         width: 100%;
         grid-template-columns: repeat(4, 1fr);
         grid-gap: 47px 32px;
         animation: fade-out-down 0.4s forwards;
         opacity: 0;
         .game-card {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 2.4rem;
            .image {
               overflow: hidden;
               border-radius: 4px;
               width: 100%;
               height: 38.3rem;    
            }
            img {
               width: 100%;
               height: 100%;
               object-fit: cover;
               transition: 0.3s ease-out; 
            }
            img:hover {
               transform: scale(1.1);
               transition: 0.4s ease-in;
            }
         }
         .info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            h3 {
               font-weight: 600;
               font-size: 1.935rem;
               line-height: 2.9rem;
               color: #E5E5E5; 
            } 
            span {
               font-weight: 400;
               font-size: 15.05px;
               line-height: 23px;
               color: #E5E5E5;
               opacity: 0.8; 
            }
         }
      }
      .card-all-games {
         display: flex;
         flex-direction: column;
         width: 100%;
         max-width: 28rem;
         height: 38.4rem;
         border: .15rem solid #212428;
         border-radius: .4rem;
         align-items: center;
         justify-content: center;
         .image {
            display: flex;
            flex-direction: column;
         }
            span {
               display: flex;
               align-items: center;
               margin-top: 3.4rem;
               font-weight: 600;
               font-size: 1.6rem;
               line-height: 2.6rem;     
               color: #FFFFFF; 
               img {
                  display: block;
                  
               }
            }
            .btn-all-games {
               display: flex;
               margin-right: 1rem;
               }
         
      }
      .tab-cards-games.active {
         opacity: 1;
         animation: fadeUp 0.4s forwards;
      }
      
}

.s-download {
   
   background-image: url(../img/bg-download2.png);
   background-repeat: no-repeat;
   background-position: top center;
   overflow: hidden;
   background-size: cover;
   width: 100%;
   .container {
      position: relative;
      height: 85rem;
      width: 100%;
      .text-left {
         display: flex;
         flex-direction: column;
         width: 100%;
         max-width: 29.9rem;
         padding-top: 13.2rem; 
         .logo {
            margin-bottom: 3rem;
         }
         h2 {
            font-weight: 700;
            font-size: 3.2rem;
            line-height: 110.2%;
            color: #FFFFFF;
            margin-bottom: 3rem;
         }
         ul {
            margin-bottom: 4.2rem;
            li:not(:last-child) {
               margin-bottom: 2.4rem;
            }
            li {
               display: flex;
               align-items: center;
               .icon {
                  width: 1.8rem;
                  height: 1.8rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-right: 1.6rem;
               }
               p {
                  font-size: 1.8rem;
                  line-height: 178.2%;
                  color: #828792;  
               }
            }
         }
         .btn {
            padding: 0px 4rem;
            line-height: 5.2rem;
            font-size: 1.6rem;
            font-weight: 600;
            margin-bottom: 4.9rem; 
         }
         .app {
            display: flex;
            align-items: center;
            p {
               font-weight: 600;
               font-size: 1.4rem;
               line-height: 2.1rem;
               max-width: 23.9rem;
               margin-left: 1.8rem;
               color: #E5E5E5;
               a {
                  text-decoration: underline;
                  transition: color 0.3s;
               }
            }
         }
      }
   }
   .floats {
      position: absolute;
      top: 9.9rem;
      right: -27.5rem;
      width: 100%;
      max-width: 106.6rem;
      height: 61rem; 
      img {
         position: absolute;
      }
      .img-page {
        animation: float 8s ease-in-out infinite; 
      }
      .img-install {
         position: absolute;
         right: 5.3rem;
         bottom: -2.8rem;
         animation: float 6s ease-in-out infinite;
      }
   }
}

